.hero-nav .active {
  color: red !important;
  background-color: transparent !important;
}

.hero-nav .active::after {
  content: "";
  background-color: red;
  height: 2px;
  display: block;
  margin-top: 5px;
}
.hero-area {
  min-height: 400px;
  background-position: 20% 30%;
  background-size: 100%;
}
