.hero-nav .active {
  color: red !important;
  background-color: transparent !important;
}

.hero-nav .active::after {
  content: "";
  background-color: red;
  height: 2px;
  display: block;
  margin-top: 5px;
}

table {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
